//Общие стили
.callout {
  font-weight: $font-medium;
  font-style: italic;
  font-size: 1.15rem;
  width: 44%;
  display: block;
  line-height: 1.35;
  margin: 1rem 0;
}
//Выноска слева
.callout-left {
  border-left: 4px solid $primary;
  float: left;
  padding: 0.625rem 0.625rem 0.625rem 1rem;
}

//Выноска справа
.callout-right {
  border-right: 4px solid $success;
  float: right;
  text-align: right;
  padding: 0.625rem 1rem 0.625rem 0.625rem;
}

@media (max-width: 991.98px) {
  .callout {
	width: 100%;
	border-left: 4px solid $primary !important;
	border-right: 0 !important;
	float: none !important;
	padding: 0.625rem 0.625rem 0.625rem 1rem !important;
	text-align: left !important;
  }
}