// Цвета
$white:    #ffffff !default;
$gray-100: #fafafa !default;
$gray-200: #f7f8f9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ef5350 !default;
$orange:  #BD5D38 !default;
$yellow:  #ff8c00 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $yellow !default;
$success:       $cyan !default;
$danger:        $red !default;
$dark:          $gray-800 !default;
$light:			$gray-200 !default;

// Отступы база
$mp-base:	1.875rem; // 30px

// Размер текста и жирность шрифтов
$font-base:		1rem; // 16px
$font-light: 	300;
$font-normal: 	400;
$font-medium: 	500;
$font-large: 	700;
$font-bold: 	900;








